Presentation/Connected Services/SerTaikhoan/SerTaikhoan.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="taiKhoan" type="tns:DTTaikhoan" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DTTaikhoan">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Password" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Role" type="s:unsignedByte" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="tns:DTTaikhoan" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="taiKhoan" type="tns:DTTaikhoan" />
            <s:element minOccurs="1" maxOccurs="1" name="oldp" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangePassResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePassSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePass" />
  </wsdl:message>
  <wsdl:message name="ChangePassSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePassResponse" />
  </wsdl:message>
  <wsdl:portType name="SerTaikhoanSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePass">
      <wsdl:input message="tns:ChangePassSoapIn" />
      <wsdl:output message="tns:ChangePassSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SerTaikhoanSoap" type="tns:SerTaikhoanSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePass">
      <soap:operation soapAction="http://tempuri.org/ChangePass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SerTaikhoanSoap12" type="tns:SerTaikhoanSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePass">
      <soap12:operation soapAction="http://tempuri.org/ChangePass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SerTaikhoan">
    <wsdl:port name="SerTaikhoanSoap" binding="tns:SerTaikhoanSoap">
      <soap:address location="https://localhost:44322/BusinessServices/SerTaikhoan.asmx" />
    </wsdl:port>
    <wsdl:port name="SerTaikhoanSoap12" binding="tns:SerTaikhoanSoap12">
      <soap12:address location="https://localhost:44322/BusinessServices/SerTaikhoan.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>